/******* BODY ******/
main {
  display: flex;
  width: auto;
  height: 100vh;
}

header {
  border-bottom: 1px solid #6e6e6e;
  margin: 0;
  font-family: "Numans", sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.main-container {
  align-self: center;
  margin-top: 50px;
  width: 80%;
  height: 80vh;
  /* height: 80vh; */
  background-color: #252424;
  border: 1px solid #b1b1b1;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 5px 5px 30px rgb(41, 41, 41);
}

.navbar-brand {
  margin-left: 30px;
}

.nav-container {
  /*height: 70vh;
  */
  background-color: #1a1a1a;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.content-row {
  height: 90%;
  align-items: center;
}

/******* End of BODY *******/
