/******* BODY ******/
main {
  display: flex;
  width: auto;
  height: 100vh;
}

header {
  border-bottom: 1px solid #6e6e6e;
  margin: 0;
  font-family: "Numans", sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.navbar-brand {
  margin-left: 25px;
}

/******* End of BODY *******/
