/* Register Page Styles */
.auth-container {
  align-self: center;
  margin-top: 50px;
  width: 80%;
  height: 80vh;
  /* height: 80vh; */
  background-color: #252424;
  border: 1px solid #b1b1b1;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 5px 5px 30px rgb(41, 41, 41);
}

.sub-nav-container {
  background-color: #1a1a1a;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.register-form-row {
  height: 90%;
  align-items: center;
}
/* End of Register Page Styles */
