/**** Speech-to-Text Control Buttons ****/
/* Containers */
.stt-buttons-container {
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: center;
}

.stt-controls-container {
  margin: 10px 0px;
}
/* End Containers */

/* Header */
.feature-title {
  font-size: 16px;
  font-weight: bold;
}
/* End of Header */

/***** Buttons *****/
.stt-controls-container button,
.stt-controls-container button:hover {
  font-size: 16px;
  padding: 10px;
  margin: 0 5px;
  width: 40px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border: 0px;
}

.stt-controls-container button {
  background-color: #252424;
  color: #f5f5f5;
}

.stt-controls-container button:hover {
  background-color: #504d4d;
  color: #f5f5f5;
}

.replace-button:disabled {
  color: #999090;
}

/***** End Buttons *****/

.audio-player {
  height: 30px;
}

/**** End of Speech-to-text Control Buttons ****/
